<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Todo List</title>

  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-papbQzq6ey4iO7OcPV+7O4mAG2fjzD49xnz5Gk3m+P99E5mQHkxf8J6LtFe1UhcqZKU2lEk5F1DjgKGzH0r5dA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
